{% if route is defined and route %}
    <a href="{{ path(route) }}" class="pt-1">
        <span class="fa fa-window-close fa-lg text-secondary pointer mr-3" title="{{ 'Back'|trans }}"></span>
    </a>
{% endif %}