<div class="mb-2">
    {% set currentPasswordId = hash() %}
    <label for="{{ currentPasswordId }}" class="form-label">Password: <span class="text-danger">*</span></label>
    <input type="password" class="form-control" id="{{ currentPasswordId }}" placeholder="Type your password"
           name="currentPassword" required autofocus>
</div>