<div class="mb-2">

    {% set currentPasswordId = hash() %}

    <label for="{{ currentPasswordId }}" class="col-form-label">
        {{ 'Password'|trans }}: <span class="text-danger">*</span>
    </label>
    <input type="password" class="form-control" id="{{ currentPasswordId }}" name="currentPassword"
        placeholder="{{ 'Your Password'|trans }}" required>
</div>