{% if content is defined and content %}
    <span class="fa fa-copy fa-sm pl-3 pointer copyToClipBoard" title="Copy to clipboard"
        style="color: rgb(241, 166, 4);"></span>
    <div class="d-none" id="copyToClipBoard">{{ content }}</div>
{% endif %}