<a href="#" class="text-success" data-toggle="modal"
   data-target="#{{ btnDataTargetId is defined ? btnDataTargetId : 'n/a' }}">
    <span class="{{ txtColor is defined and txtColor ? txtColor : 'text-secondary' }}">
        {{ linkName is defined ? linkName : 'n/a' }}
    </span>
</a>