{% if dataTargetId is defined and dataTargetId %}
    <div class="pointer rounded-pill float-right img-icon-upload" title="Upload new Image" data-toggle="modal"
         data-target="#{{ dataTargetId }}">
        <span class="fa fa-plus fa-sm"></span>
    </div>
{% endif %}