p, td, td > *, a, form > span {
    font-size: 15px !important;
}

label, label:not(.form-check-label):not(.custom-file-label){
    margin-bottom: 1px;
    font-weight: 500;
}

::-moz-selection {
    background-color: #ffc107;;
    color: #000
}

::selection {
    background-color: #ffc107;
    color: #000
}

.btn {
    text-transform: capitalize;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 15px;
}

.btn-outline-secondary{
    text-transform: capitalize;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 15px;
}

label {
    margin-bottom: 0;
    padding-bottom: 0;
}

.modal-title-upper {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    word-spacing: 2px;
    color: #737171;
}

.nav-icon {
    font-size: 15px !important;
}

.form-control-lg {
    font-size: 15px;
}

.btn-lg {
    font-size: 16px;
    padding: 12px 15px;
}

.pointer {
    cursor: pointer;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.alert-fixed-z-index {
    position: fixed;
    top: 2px;
    right: 1px;
    z-index: 1060
}

.text-light-50 {
    color: #ccc;
}

.cursor-help {
    cursor: help;
}

body {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

.text-end {
    float: inline-end;
}

.d-btn {
    border: 1px solid #d0d0d0;
    background-color: #fff;
    color: #454545a1 !important;
    border-radius: 3px;
    padding: 0 12px;
    margin-right: 3px;
}

.d-btn:hover {
    color: #fff !important;
    border: 1px solid #e8e4e48f;
    background-color: #343536b7;
}
.content-header {
    padding: 13px 10px 5px 15px;
}

.del {
    text-decoration: line-through;
    color: red;
}

@media (max-width: 868px) {
    .md-text-center {
        text-align: center !important;
    }

    .md-d-none {
        display: none;
    }

    .md-d-block {
        display: block;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}